<div class="content">

        <h2>Company ABC</h2>

        <div class="card-container">
          <input type="text" class="form-control" id="inputField" placeholder="City"  [(ngModel)]="address.city">
        </div>

        <div class="card-container">
          <input type="text" class="form-control" id="inputField" placeholder="State" [(ngModel)]="address.state" >
        </div>

        <div class="card-container">
          <input type="number" class="form-control" id="inputField" placeholder="Radius"  [(ngModel)]="address.radius">
          </div>


          <div class="card-container">
            <button type="submit" class="submit"  (click)="getLocation()">Get Data</button>

            </div>


            <h4 *ngIf="jsonData.length!==0">Results</h4>


            <div class="card-container" *ngFor="let data of jsonData">
          
              <div class="card">
          
                <span>{{data.Name}}</span>
           
              </div>
  

</div>
